@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  position: fixed;
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 10;
}

a {
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

.cf::after {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
}

.logo-icon {
  float: left;
}

.fa-bolt {
  font-size: 40px;
}

.contact {
  font-size: 12px;
  padding: 14px 12px;
  background: #74cfae;
  color: #fff;
  width: 43px;
  float: right;
  transition: 0.3s;
}

.contact:hover {
  color: #333;
}

main {
  padding-top: 70px;
  background: #f2f2f2;
}

.title {
  padding-top: 250px;
  padding-bottom: 250px;
}

.bolt {
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  color: #74cfae;
}

.free-bootstrap {
  font-size: 30px;
  margin-top: 20px;
  color: #c0c0c0;
  text-align: center;
}

.what-inner {
  background-color: #74cfae;
  padding-top: 50px;
  width: 100%;
  text-align: center;
  display: flex;
}

.what-inner-wrapper {
  display: flex;
  justify-content: center;
}

.what-textbox {
  color: #fff;
  width: 60%;
  display: block;
  line-height: 1.5;
  margin-left: 90px;
}

.what-we-can-do {
  font-size: 24px;
}

.what-textbox-text {
  font-size: 20px;
  margin-top: 35px;
}

.work-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.our-latest-work {
  font-size: 24px;
  text-align: center;
}

.work-inner-img {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.work-inner-img-anchor {
  border-width: 0px;
  border-style: none;
  background: transparent;
  margin-top: 80px;
  margin-left: 100px;
}

.work-inner-img-anchor img {
  transition: 0.3s;
  opacity: 0.7;
}

.work-inner-img-anchor img:hover {
  opacity: 1;
}

.work-inner-img-anchor:nth-child(-n+3) {
  margin-top: 0;
}

.work-inner-img-anchor:nth-child(1) {
  margin-left: 0;
}

.work-inner-img-anchor:nth-child(4n) {
  margin-left: 0;
}

.work-inner-img-anchor:nth-of-type(3n) {
  margin-right: 0;
}

.email-wrapper {
  margin-top: 90px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.email-text {
  margin-right: 90px;
  width: 450px;
  text-align: center;
  line-height: 1.5;
  font-weight: 100;
}

.email-me {
  background: #74cfae;
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  width: 60px;
  transition: 0.3s;
}

.email-me:hover {
  color: #333;
}

.skills-inner {
  background-color: #333;
  padding-top: 70px;
  padding-bottom: 100px;
  display: flex;
  text-align: center;
}

.skills-inner-figure {
  text-align: center;
  display: inline-block;
  margin-left: 180px;
}

.skills-inner-figure:first-of-type {
  margin-left: 0px;
}

.our-skills {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.our-skills, .skills-inner-figcaption {
  color: #fff;
}

.skills-inner-figcaption {
  font-size: 16px;
  margin-top: 20px;
}

.bg-nav {
  background: #f2f2f2;
  padding-top: 200px;
  padding-bottom: 200px;
}

.bg-nav .wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hover-nav {
  width: 185px;
  height: 90px;
  transition: 0.3s;
}

.hover-nav .fab, .hover-nav .fas {
  color: #74cfae;
  font-size: 40px;
  line-height: 90px;
}

.hover-nav:hover {
  background: #fff;
}

footer {
  background-color: #74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
}

.copyright {
  color: #fff;
  text-align: right
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .wrapper {
    width: 97%;
  }
  .what-inner {
    padding-bottom: 25px;
    width: 100%;
  }
  .work-inner-img {
    display: block;
    text-align: center;
  }
  .what-img {
    margin-bottom: 20px;
  }
  .what-inner-wrapper {
    display: block;
  }
  .what-textbox {
    width: 100%;
    margin-left: 0px;
  }
  .work-inner-img-anchor {
    margin-top: 0px;
    margin-left: 0px;
    display: block;
  }
  .work-inner-img-anchor:nth-child(3n) {
    margin-bottom: 80px;
  }
  .email-wrapper {
    display: block;
  }
  .email-text {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .email-botton {
    display: inline-block;
  }
  .email-me {
    text-align: center;
  }
  .skills-inner {
    padding-bottom: 88px;
    padding-left: 0px;
  }
  .skills-inner-figure {
    display: block;
    margin-bottom: 88px;
    margin-left: 0px;
  }
  .skills-inner-figure:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
  .drawer-open {
    display: flex;
    height: 30px;
    width: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
    float: right;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .drawer-open span, .drawer-open span:before, .drawer-open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #ddd;
    position: absolute;
  }
  .drawer-open span:before {
    bottom: 8px;
  }
  .drawer-open span:after {
    top: 8px;
  }
  .wrapper {
    width: 97%;
    box-sizing: border-box;
    padding: 15px;
  }
  .title {
    padding-top: 160px;
    padding-bottom: 130px;
  }
  .bolt {
    font-size: 80px;
    margin-bottom: 20px;
  }
  .what-inner {
    padding-bottom: 25px;
    width: 100%;
  }
  .what-inner-wrapper {
    display: block;
  }
  .what-img {
    margin-bottom: 20px;
  }
  .what-textbox {
    width: 100%;
    margin-left: 0px;
  }
  .work-inner-img {
    display: block;
    text-align: center;
  }
  .work-inner-img-anchor img {
    transition: 0.3s;
    opacity: 0.7;
  }
  .work-inner-img-anchor img:hover {
    opacity: 1;
  }
  .work-inner-img-anchor {
    margin-top: 0px;
    margin-left: 0px;
    display: block;
  }
  .work-inner-img-anchor:nth-child(3n) {
    margin-bottom: 80px;
  }
  .email-wrapper {
    display: block;
  }
  .email-text {
    width: 100%;
    margin-bottom: 40px;
  }
  .email-botton {
    display: inline-block;
  }
  .email-me {
    text-align: center;
  }
  .skills-inner {
    padding-bottom: 88px;
    padding-left: 0px;
  }
  .skills-inner-figure {
    display: block;
    margin-bottom: 88px;
    margin-left: 0px;
  }
  .skills-inner-figure:last-child {
    margin-bottom: 0px;
  }
  .bg-nav {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .bg-nav .wrapper {
    display: block;
    text-align: center;
    box-sizing: border-box;
  }
  .hover-nav {
    display: block;
    width: 100%;
    height: 90px;
    transition: 0.3s;
  }
}

}